<!DOCTYPE html>

<!-- A placeholder page for testing -->
<html>
	<head>
		<title>WebPy|Login</title>
	</head>
	<body>
		{% if not plans%}
		<p>Error: Plans Not set</p>
		{% endif %}
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<p>{{message}}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<form method=POST>
			<input type="text" name="username">
			<input type="text" name="email"><br>
			{% for plan in plans %}
			<input type="radio" name="plan" value="{{plan.id}}">
			{{plan.name}} Time: {{(plan.cpu_time * plan.cpu_quota)
			/ 1000}} seconds
			At: ${{plan.price}} per second<br>
			{% endfor %}
			<button type="submit">Login</input>
		</form>
	</body>
</html>

