<!DOCTYPE html>

<!-- A placeholder page for testing -->
<html>
	<head>
		<title>WebPy|Login</title>
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<p>{{message}}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<form method=POST>
			<input type="text" name="username">
			<input type="text" name="email"><br>
			<input type="radio" name="plan" value="0">Anon $0/hour<br>
			<input type="radio" name="plan" value="1">Normal $1/hour<br>
			<input type="radio" name="plan" value="2">Gold $4/hour<br>
			<button type="submit">Login</input>
		</form>
	</body>
</html>

